/* ----------------- RESET CSS ----------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
:root {
  --body-color: #fff;
  --background-color: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* -------------- MAIN CSS ---------- */

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: var(--background-color) no-repeat;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}

.todo-container {
  background-color: var(--body-color);
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  width: 270px;
}
.todo-head {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  gap: 30%;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 10px;
}

.title__img {
  width: 25px;
  height: 25px;
}
.todo-title h3 {
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.todo-title span {
  font-size: 10px;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.todo-progress {
  background: var(--background-color);
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-progress p {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.todo-input {
  flex: 1;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  background-color: lightgray;
  border: none;
  font-size: 8px;
}
#todo-submit {
  padding: 10px;
  background-color: #71b7e6;
  width: 20px;
  height: 20px;
  border-radius: 100rem;
  color: white;
  transition: linear 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#todo-submit i {
  font-size: 10px;
}
#todo-remove:hover {
  color: #208dd6;
}
#todo-submit:hover {
  background-color: #208dd6;
  scale: 1.1;
}
#todo-edit:hover {
  color: #208dd6;
}
.todo-list {
  margin-top: 10px;
  list-style: none;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 10px;
}
.todo-checked {
  text-decoration: line-through;
}
.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #71b7e6;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.todo-list-item p {
  font-size: 10px;
}
.todo-checkbox input[type="checkbox"] {
  width: 10px;
  height: 10px;
}
.todo-checkbox {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 16px;
}
.todo-action {
  display: flex;
  gap: 5px;
}

#todo-edit,
#todo-remove {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  color: #71b7e6;
  font-size: 8px;
}
/* Small device */
@media screen and (max-width: 360px) {
  body {
    background: red;
  }
  .todo-container {
    width: 300px;
    padding: 15px;
  }
  .todo-head {
    padding: 10px;
    gap: 20%;
  }
  .todo-title h3 {
    font-size: 15px;
    gap: 7px;
  }
  .title__img {
    width: 35px;
    height: 35px;
  }
  .todo-title span {
    font-size: 13px;
  }
  .todo-progress {
    width: 75px;
    height: 75px;
  }
  .todo-input {
    padding: 10px;
    font-size: 10px;
  }
  #todo-submit {
    padding: 13px;
  }
  .todo-list-item {
    padding: 7px;
  }
  .todo-list-item p {
    font-size: 12px;
  }
}

/* Medium device  */
@media screen and (min-width: 768px) {
  .todo-container {
    width: 100%;
    min-width: 500px;
    padding: 20px;
  }
  .todo-head {
    padding: 20px;
    margin-bottom: 20px;
  }
  .todo-title h3 {
    font-size: 20px;
    gap: 15px;
  }
  .todo-head {
    justify-content: space-between;
  }
  .todo-progress {
    width: 90px;
    height: 90px;
  }
  .todo-title span {
    font-size: 15px;
  }
  .todo-form input {
    font-size: 12px;
    padding: 10px;
  }
  #todo-submit {
    width: 30px;
    height: 30px;
  }
  .todo-list {
    margin-top: 15px;
  }
  .todo-list-item {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
  }
  .todo-checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
  .todo-checkbox p {
    font-size: 15px;
  }
  #todo-edit,
  #todo-remove {
    padding: 8px;
  }
  .todo-action i {
    font-size: 12px;
  }
  .todo-action {
    gap: 10px;
  }
}
/* Large device */
@media screen and (min-width: 1024px) {
  .todo-container {
    width: 100%;
    min-width: 700px;
    padding: 20px;
  }
}
